main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 70rem;
  margin: 0 auto;
  background-color: white;
  padding: 1rem;
  border-radius: .5rem;
  overflow: hidden;
}

h1 {
  margin: 0;
}

div {
  display: grid;
   & > ::ng-deep * {
    grid-column-start: 1;
    grid-row-start: 1;
   }
}
