:host {
  display: grid;

  > ::ng-deep * {
    grid-area: 1 / 1;
  }
}

.users {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .no-users {
    font-size: 1.25rem;
    color: var(--mat-sys-on-surface);
    text-align: center;
    margin-block: 1lh;
  }
}
