$padding: 1rem;
$gap: 1.5rem;
$max-width: 35rem;
$background-height: max(7.5rem, 20dvh);

:host {
  border-radius: var(--app-slid-up-border-radius);
  box-shadow: var(--app-slid-up-box-shadow);
  overflow: hidden;
}

.background {
  $profile-picture-size: 5rem;
  $half-profile-picture-size: calc($profile-picture-size / 2);
  position: relative;
  background-color: lightblue;
  height: $background-height;
  margin-bottom: calc($half-profile-picture-size + $gap);

  .profile-picture-wrapper {
    inset: auto auto calc(-1 * $profile-picture-size) $padding;
    width: min($max-width, 100%);
    margin-inline: auto;
    padding-inline: 1rem;
    transform: translateY(calc($background-height - $half-profile-picture-size));
  }
}

.fields {
  display: grid;
  gap: $gap;
  max-width: $max-width;
  margin-inline: auto;
  padding-inline: $padding;
}

label {
  align-self: center;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  max-width: $max-width;
  margin: 1rem auto 0 auto;
  padding-inline: $padding;
}
