<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="background">
    <div class="profile-picture-wrapper">
      <app-profile-picture [src]="authenticatedUser()?.imageUrl" width="5rem" height="5rem" />
    </div>
  </div>
  <div class="fields">
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" placeholder="Add your name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" type="text" placeholder="Add your username" />
      @if (formGroup.get('username')?.hasError('usernameTaken')) {
        <mat-error>Username is taken</mat-error>
      }
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>
  </div>
  <div class="actions">
    <button mat-button (click)="navigateBack()">Cancel</button>
    <button mat-raised-button type="submit">Save</button>
  </div>
</form>
