@if (post()) {
  <div @fadeIn class="page">
    <app-post-card [post]="post()!" [dynamicReplyCount]="dynamicPostReplyCount()" (delete)="onDeletePost()" />
    <form [formGroup]="formGroup" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
      <div>
        <app-profile-picture [src]="authenticatedUser()?.imageUrl" width="36px" height="36px" />
        <mat-form-field appearance="outline" hideRequiredMarker subscriptSizing="dynamic">
          <mat-label>Reply to {{`@${post()?.user?.username}`}}</mat-label>
          <textarea matInput formControlName="body" autocomplete="off" [errorStateMatcher]="noErrorErrorStateMatcher"></textarea>
        </mat-form-field>
      </div>
      <div class="actions">
        <button mat-flat-button type="submit" [disabled]="!formGroup.valid">Reply</button>
      </div>
    </form>
    <div
      class="replies"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="fetchMoreReplies()"
    >
      @for (reply of newlyCreatedPostReplies(); track reply._id) {
        <app-post-reply @scaleFadeInFromTop [postReply]="reply" />
      }
      @for (reply of postReplies(); track reply._id) {
        <app-post-reply [postReply]="reply" />
      }
    </div>
  </div>
} @else {
  <app-post-card-skeleton @fadeOut />
}
