@use '@angular/material' as mat;

:host {
  @include mat.form-field-overrides((
    outlined-container-shape: var(--mat-sys-corner-extra-large)
  ));

  ::ng-deep .mat-mdc-text-field-wrapper {
    --mat-mdc-form-field-label-offset-x: -32px !important;
  }
}

mat-form-field {
  width: 100%;
}
