@use '@angular/material' as mat;

:host {
  @include mat.button-overrides((
    filled-disabled-container-color: #538cc6,
    filled-disabled-label-text-color: #f2f2f2
  ));
  @include mat.progress-spinner-overrides((
    active-indicator-color: var(--mat-sys-on-primary)
  ));
}

form {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  margin-bottom: .5rem;

  mat-form-field {
    flex-grow: 1;
  }
}

app-profile-picture {
  margin-right: .5rem;
}

.actions {
  display: flex;
  gap: .5rem;
  align-self: flex-end;

  button[type="submit"] {
    width: 5rem;
    align-self: flex-end;
  }
}
