<mat-nav-list>
  @for (item of navListItems; track item.href) {
    <a
      mat-list-item
      [activated]="item.href === router.url"
      [routerLink]="item.href"
    >
      <mat-icon matListItemIcon>{{item.matIcon}}</mat-icon>
      <span matListItemTitle>{{item.title}}</span>
    </a>
  }
  <a
    mat-list-item
    [routerLink]="`/user/${username()}`"
    [activated]="router.url === `/user/${username()}`"
  >
    <mat-icon matListItemIcon>
      @if (currentUser$ | async; as currentUser) {
        <app-profile-picture @fadeIn width="24px" height="24px" />
      } @else {
        <div @fadeOut class="skeleton profile-picture"></div>
      }
    </mat-icon>
    <span matListItemTitle>{{`@${username()}`}}</span>
  </a>
</mat-nav-list>
