<mat-nav-list>
  <a
    class="profile-anchor"
    [class.expanded]="!isCollapsed()"
    mat-list-item
    [activated]="router.url === `/user/${username()}`"
    [routerLink]="`/user/${username()}`"
    [style.pointerEvents]="!username()"
  >
    @if (currentUser$ | async; as currentUser) {
      <div class="profile" [class.collapsed]="isCollapsed()">
        <app-profile-picture width="100%" height="auto" />
        <div
          class="profile-info"
          [class.expanded]="!isCollapsed()"
        >
          <span class="profile-name">{{currentUser.name}}</span>
          <span class="user-name">{{`@${currentUser.username}`}}</span>
        </div>
      </div>
    } @else {
      <mat-spinner diameter="25"></mat-spinner>
    }
  </a>
  @for (item of navListItems; track item.href) {
    <a
      mat-list-item
      [activated]="item.href === router.url"
      [routerLink]="item.href"
    >
      <mat-icon matListItemIcon>{{item.matIcon}}</mat-icon>
      <span matListItemTitle>{{item.title}}</span>
    </a>
  }
</mat-nav-list>
