:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
}

form {
  flex-grow: 1;
  max-width: 25rem;
}

mat-card-header {
  margin-bottom: 1rem;

  mat-card-subtitle {
    font-weight: normal;
  }
}

.log-in {
  text-decoration: none;
  color: #1a73e8;
}

mat-card-content {
  display: grid;
}

mat-card-actions {
  padding: 0 1rem 1rem 1rem;
}

button[type="submit"] {
  width: 100%;
}
