:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
}

form {
  flex-grow: 1;
  max-width: 25rem;
}

mat-card-header {
  margin-bottom: 1rem;

  mat-card-title {
    color: var(--mat-sys-on-surface);
  }

  mat-card-subtitle {
    font-weight: normal;
  }
}

.log-in {
  text-decoration: none;
  color: #1a73e8;
}

mat-card-content {
  display: grid;
}

mat-form-field {
  --mb: 0;
  margin-bottom: var(--mb);
  transition: margin-bottom .2s ease-out;

  &:has(mat-error) {
    --mb: .5rem;
  }
}

.profile-picture-field {
  display: grid;
  gap: .25rem;
  color: var(--mat-sys-on-surface);
  margin-bottom: 1.25rem !important;
  padding: 1rem;
  border: 1px solid #74777f;
  border-radius: .25rem;
  overflow: hidden;
}

mat-card-actions {
  padding: 0 1rem 1rem 1rem;
}

button[type="submit"] {
  width: 100%;
}
