@if (postReplies()) {
  <div
    @fadeIn
    class="post-replies"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    @if (postReplies()?.length === 0) {
      <div class="no-replies">No replies to display...</div>
    } @else {
      @for (reply of postReplies(); track reply._id) {
        @if (displayPostRepliedTo()) {
          <app-post-reply-chain
            @scaleFadeInFromTop
            [postReply]="reply"
            (deletedPost)="onDeletedPost($event)"
            (deletedPostReply)="onDeletedPostReply($event)"
          />
        } @else {
          <app-post-reply
            @scaleFadeInFromTop
            [postReply]="reply"
            (deleted)="onDeletedPostReply($event)"
          />
        }
      }
    }
  </div>
} @else {
  <div @fadeOut class="post-replies">
    <app-post-card-skeleton />
    <app-post-card-skeleton />
    <app-post-card-skeleton />
  </div>
}
