:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: var(--app-max-width);
  margin: 0 auto;
  padding: var(--app-padding);
}

.content {
  display: grid;

  & > ::ng-deep * {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.username {
  color: #717c85;
}

.no-posts {
  text-align: center;
  font-size: 1.25rem;
}

.posts,
.skeleton {
  grid-column-start: 1;
  grid-row-start: 1;
  display: grid;
  gap: 1rem;
}
