:host {
  display: grid;
  gap: 1rem;
  max-width: var(--app-max-width);
  margin: 0 auto;
  padding: var(--app-padding);
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & > mat-spinner {
    align-self: center;
  }
}

.row {
  display: flex;
}

.profile-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: max-content;
  margin: 0 auto;

  app-profile-picture {
    align-self: center;
  }

  div {
    display: flex;
    flex-direction: column;

    .profile-name {
      font-size: 1.25rem;
    }
  }
}

.username {
  color: #717c85;
}

.no-posts {
  font-size: large;
}
