<mat-card>
  <mat-card-content>
    @if (user$ | async; as user) {
      <div class="profile-header">
        <app-profile-picture width="7.5rem" height="7.5rem" />
        <div>
          <span class="profile-name">{{user.name}}</span>
          <span class="username">{{`@${user.username}`}}</span>
        </div>
      </div>
      <div>
        <button mat-fab extended>
          <mat-icon>lock</mat-icon>
          Change Password
        </button>
      </div>
    } @else {
      <mat-spinner diameter="50" />
    }
  </mat-card-content>
</mat-card>
@if (userPosts$ | async; as userPosts) {
  @if (userPosts.length === 0) {
    <div class="no-posts">
      <span class="username">{{`@${(user$ | async)?.username}`}}</span> hasn't posted anything yet...
    </div>
  } @else {
    @for (post of userPosts; track post._id) {
      <app-post-card [post]="post" />
    }
  }
} @else {
  <mat-spinner diameter="50" />
}
