:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

ul {
  display: table;
  margin: 0;
  padding: 0;
}

li {
  --gap: 1rem;
  display: table-row;

  & label,
  & input {
    display: table-cell;
    color: #435960;
  }

  & input {
    border: .0625rem solid #bebebe;
    border-radius: .25rem;
    padding: .25rem;
  }

  &:first-of-type label,
  &:first-of-type input {
    margin-bottom: calc(var(--gap) / 2);
  }

  &:not(:first-of-type, :last-of-type) label,
  &:not(:first-of-type, :last-of-type) input {
    margin-top: calc(var(--gap) / 2);
    margin-bottom: calc(var(--gap) / 2);
  }

  &:last-of-type label,
  &:last-of-type input {
    margin-top: calc(var(--gap) / 2);
  }

  & label {
    padding-right: .5rem;
  }
}

button {
  display: flex;
  align-items: center;
  gap: .25rem;
  cursor: pointer;
  border: none;
  padding: .5rem;
  background-color: #eee;
  border-radius: .25rem;
  transition: all .1s;

  svg {
    width: auto;
    height: 1lh;
  }

  &:active {
    color: white;
    background-color: #404f61;
    scale: .95;

    svg {
      fill: white;
    }
  }
}
