app-post-prompt {
  display: block;
  margin-bottom: .5rem;
}

.router-wrapper {
  display: grid;
  padding-block: var(--app-padding);

  > ::ng-deep * {
    grid-area: 1 / 1;
  }
}

.create-post {
  position: fixed;
  inset: auto 1rem 1rem auto;
  z-index: 1;

  mat-icon {
    margin: 0;
  }
}
