<h2 mat-dialog-title>{{`@${user().username}`}}</h2>
<mat-dialog-content>
  <mat-tab-group [selectedIndex]="selectedTabIndex()">
    <mat-tab label="Following">
      @if (followingUsers$ | async; as users) {
        @if (users.length === 0) {
          <div class="no-results" @fadeIn>No followed users</div>
        } @else {
          @for (user of users; track user._id) {
            <div class="user-entry" @fadeIn>
              <app-profile-picture [src]="null" width="2.5rem" height="2.5rem" />
              <div class="details">
                <span class="name">{{user.name}}</span>
                <span class="username">{{user.username}}</span>
              </div>
            </div>
          } 
        }
      } @else {
        <mat-spinner diameter="40" @fadeOut></mat-spinner>
      }
    </mat-tab>
    <mat-tab label="Followers">
      @if (followersUsers$ | async; as users) {
        @if (users.length === 0) {
          <div class="no-results" @fadeIn>No followers</div>
        } @else {
          @for (user of users; track user._id) {
            <div class="user-entry" @fadeIn>
              <app-profile-picture [src]="null" width="2.5rem" height="2.5rem" />
              <div class="details">
                <span class="name">{{user.name}}</span>
                <span class="username">{{user.username}}</span>
              </div>
            </div>
          }
        }
      } @else {
        <mat-spinner diameter="40" @fadeOut></mat-spinner>
      }
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
