<mat-card>
  <mat-card-content>
    <a [routerLink]="['/user', postReply().user.username]">
      <app-profile-picture [src]="postReply().user.imageUrl" width="2lh" height="2lh" />
    </a>
    <div class="column">
      <div class="user-info">
        <a class="user-anchor" [routerLink]="['/user', postReply().user.username]">
          <span>{{postReply().user.name}}</span> <span>{{`@${postReply().user.username}`}}</span>
        </a>
        <span>{{postReply().createdAt | date: 'medium'}}</span>
      </div>
      <p>
        {{postReply().body}}
      </p>
    </div>
  </mat-card-content>
</mat-card>
