$lighter-text-color: #717c85;

mat-card-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .5rem;
  color: var(--mat-sys-on-surface);
}

.column {
  display: grid;
}

.user-info {
  display: flex;
  justify-content: space-between;
  gap: .25rem;

  > span {
    display: flex;
    align-items: center;
    font-size: .9rem;

    &:last-of-type {
      color: $lighter-text-color;
    }
  }
}

.user-anchor {
  --text-decoration: none;
  color: inherit;
  text-decoration: var(--text-decoration);

  &:hover {
    --text-decoration: underline;
  }

  span:first-child {
    font-weight: bold;
    margin-right: .25rem;
  }

  span:last-child {
    color: $lighter-text-color;
  }
}

p {
  margin-block: 0;
}
