@if (posts()) {
  <div
    @fadeIn
    class="posts"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    @if (posts()?.length === 0) {
      <div class="no-posts">No posts to display...</div>
    } @else {
      @for (post of posts(); track post._id) {
        <app-post-card @scaleFadeInFromTop [post]="post" (delete)="onDeletePost($event)" />
      }
    }
  </div>
} @else {
  <div @fadeOut class="posts">
    <app-post-card-skeleton />
    <app-post-card-skeleton />
    <app-post-card-skeleton />
  </div>
}
