:host {
  display: grid;

  > ::ng-deep * {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.no-posts {
  text-align: center;
  font-size: 1.25rem;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
