:host {
  display: grid;

  > ::ng-deep * {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .no-posts {
    font-size: 1.25rem;
    color: var(--mat-sys-on-surface);
    text-align: center;
    margin-block: 1lh;
  }
}
