:host {
  display: grid;
  margin: 0 auto;
  padding: var(--app-padding);
  max-width: var(--app-max-width);
}

.posts,
.skeleton {
  grid-column-start: 1;
  grid-row-start: 1;
  display: grid;
  gap: 1rem;
}

mat-spinner {
  margin-top: 3rem;
  justify-self: center;
}

.create-post {
  position: absolute;
  inset: auto 1rem 1rem auto;

  mat-icon {
    margin: 0;
  }
}
