app-post-prompt {
  display: block;
  margin-bottom: .5rem;
}

.router-wrapper {
  display: grid;
  padding: 1rem 0;

  > ::ng-deep * {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.create-post {
  position: fixed;
  inset: auto 1rem 1rem auto;
  z-index: 1;

  mat-icon {
    margin: 0;
  }
}
