:host {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0 auto;
  padding: var(--app-padding);
  max-width: var(--app-max-width);
}

mat-spinner {
  margin-top: 3rem;
  justify-self: center;
}

.create-post {
  position: absolute;
  inset: auto 1rem 1rem auto;

  mat-icon {
    margin: 0;
  }
}
