:host {
  display: grid;
  align-content: start;
  gap: 1rem;
}

app-post-grid,
app-post-reply-grid {
  $reduced-padding: calc(var(--app-padding) / 4);
  margin: var(--app-padding) $reduced-padding $reduced-padding $reduced-padding;
}
