:host {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
}

mat-toolbar {
  position: sticky;
  top: 0;
  height: 3.5rem;
  box-shadow: var(--app-box-shadow);
  background-color: var(--app-toolbar-color);
  z-index: 2;
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  width: min(100%, var(--app-max-width));
}

.wrapper {
  display: flex;
  justify-self: center;
  width: min(100%, var(--app-max-width));
}

.session-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: initial;
}

mat-sidenav {
  --width: 15rem;
  box-shadow: var(--app-box-shadow);
  clip-path: inset(0 -8px 0 0);
  width: var(--width);
  transition: width var(--app-sidenav-transition) !important;

  &.collapsed {
    --width: 3.5rem;
  }

  > ::ng-deep :first-child {
    position: sticky;
    top: 64px;
  }
}

.content {
  --grid-template-columns: 1fr minmax(10rem, 25%);
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  padding: var(--app-padding);
  gap: var(--app-padding);
  width: 0;
  flex-grow: 1;

  .route {
    display: grid;

    > ::ng-deep * {
      grid-area: 1 / 1;
    }
  }

  @media (width < 40rem) {
    --grid-template-columns: 1fr;

    app-search-prompt {
      display: none;
    }
  }
}
