:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  min-height: 100dvh;
}

mat-toolbar {
  position: sticky;
  top: 0;
  height: 3.5rem;
  box-shadow: var(--app-box-shadow);
  background-color: var(--app-toolbar-color);
  z-index: 2;
}

.toolbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--app-max-width);
  height: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper-content {
  display: flex;
  max-width: var(--app-max-width);
  flex-grow: 1;
}

.route {
  display: grid;
  flex-grow: 1;
  padding: var(--app-padding);

  > ::ng-deep * {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.session-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: initial;

  .username {
    color: #717c85;
  }
}

mat-sidenav {
  --width: 15rem;
  box-shadow: var(--app-box-shadow);
  clip-path: inset(0 -8px 0 0);
  width: var(--width);
  transition: width var(--app-sidenav-transition) !important;

  &.collapsed {
    --width: 3.5rem;
  }

  > ::ng-deep :first-child {
    position: sticky;
    top: 64px;
  }
}
