<mat-toolbar>
  <div class="toolbar-content">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="session-actions">
      <span>{{`@${authenticatedUser()?.username}`}}</span>
      <app-app-theme-toggle />
      <button mat-icon-button (click)="onLogOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<div class="wrapper">
  <mat-sidenav
    opened
    [autoFocus]="false"
    [class.collapsed]="isSidenavCollapsed()"
  >
    <app-sidenav />
  </mat-sidenav>
  <div class="route" [@routeAnimations]="getRouteAnimationState(outlet)">
    <router-outlet #outlet="outlet" />
  </div>
</div>
