:root {
  --app-max-width: 90rem;
  --app-padding: 1rem;
  --app-box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0;
  --app-sidenav-transition: .4s cubic-bezier(.25, .8, .25, 1);
  --app-background-color: #fcfcf9;
  --app-toolbar-color: #f3f3ee;
}

body {
  margin: 0;
  background-color: var(--app-background-color);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
