a[mat-list-item] {
  border-radius: 0;
}

a.mdc-list-item--activated {
  position: relative;

  ::after {
    content: '';
    position: absolute;
    inset: 0;
    border-left: .3rem solid var(--mat-sys-primary);
  }
}
