<mat-nav-list>
  @for (item of navListItems; track item.href) {
    <a
      mat-list-item
      [activated]="rla.isActive"
      [routerLink]="item.href"
      routerLinkActive
      #rla="routerLinkActive"
    >
      <mat-icon matListItemIcon>
        @if (item.matIcon) {
          {{item.matIcon}}
        } @else {
          <app-profile-picture [src]="authenticatedUser()?.imageUrl" width="24px" height="24px" />
        }
      </mat-icon>
      <span matListItemTitle>{{item.title}}</span>
    </a>
  }
</mat-nav-list>
