<div class="background">
  @defer (when user()) {
    <app-profile-picture
      @fadeIn
      class="root-profile-picture"
      width="7.5rem"
      height="7.5rem"
    />
  } @placeholder {
    <div @fadeOut class="root-profile-picture placeholder profile-picture"></div>
  }
</div>
<div class="actions">
  @if (isOwn()) {
    <button mat-raised-button [disabled]="!user()">Edit profile</button>
  } @else if (hasBeenFollowed()) {
    <button mat-stroked-button [disabled]="!user()" (click)="onFollow()">
      Followed
    </button>
  } @else {
    <button mat-flat-button [disabled]="!user()" (click)="onFollow()">
      Follow
    </button>
  }
</div>
<div class="content">
  <div class="user-info">
    @defer (when user()) {
      <div @fadeIn>
        <span class="profile-name">{{user()?.name}}</span>
        <span class="gray">{{`@${user()?.username}`}}</span>
        <div class="counts">
          <span>{{user()?.followed?.count}} <span class="gray">Following</span></span>
          <span>{{followers()}} <span class="gray">Followers</span></span>
        </div>
      </div>
    } @placeholder {
      <div @fadeOut>
        <div class="placeholder text profile-name"></div>
        <div class="placeholder text username"></div>
        <div class="counts">
          <div class="placeholder text count"></div>
          <div class="placeholder text count"></div>
        </div>
      </div>
    }
  </div>
</div>
