app-profile-picture {
  margin-right: .5rem;
}

mat-card {
  cursor: pointer;
}

mat-card-header {
  padding: .5rem .5rem 0;
}

.user-anchor {
  display: flex;
  text-decoration: none;
  color: inherit;
  border-radius: 8px;
  padding: .5rem;

  &:hover {
    background-color: #e8e7eb;
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .profile-name {
    font-size: 1.25rem;
  }

  .user-name {
    color: #717c85;
  }
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .5rem;
  padding: .5rem;
}


.like-btn {
  --icon-color: #44474e;
  height: 2rem;
  background-color: #e1e6ee;
  box-shadow: none;
  color: #44474e;

  &.liked {
    --icon-color: #ed4856;
  }

  .mat-icon {
    color: var(--icon-color);
  }
}
