$card-padding: var(--app-padding);

mat-card {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: $card-padding;
  padding: calc($card-padding / 2) $card-padding;
  cursor: pointer;
  color: var(--mat-sys-on-surface);
}

a {
  align-self: start;
}

.menu-btn {
  position: absolute;
  inset: $card-padding $card-padding auto auto;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .profile-name {
    font-size: 1.25rem;
  }

  .user-name {
    color: #717c85;
  }
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .5rem;

  div {
    display: flex;
    gap: .25rem;
  }
}

.action-btn {
  height: 2rem;
  background-color: #e1e6ee;
  box-shadow: none;
  color: #44474e;

  &.like-btn {
    --icon-color: #44474e;

    &.liked {
      --icon-color: #ed4856;
    }

    mat-icon {
      color: var(--icon-color);
    }
  }
}
