<mat-card (click)="navigateToPostPage()">
  <a
    [routerLink]="['/user', post().user?.username]"
    (click)="stopPropagation($event)"
  >
    <app-profile-picture [src]="post().user?.imageUrl" />
  </a>
  <div>
    <div class="user-info">
      <span class="profile-name">{{post().user?.name}}</span>
      <span class="user-name">{{`@${post().user?.username}`}}</span>
    </div>
    @if (isOwn()) {
      <button
        class="menu-btn"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        (click)="stopPropagation($event)"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="deletePost()">Delete</button>
      </mat-menu>
    }
    <p>
      {{post().body}}
    </p>
    <div class="card-footer">
      <mat-chip disableRipple highlighted>{{post().createdAt | date}}</mat-chip>
      <div>
        <button
          mat-fab extended
          class="action-btn replies-btn"
        >
          <mat-icon>chat</mat-icon>
          {{dynamicReplyCount() || post().replies.count}}
        </button>
        <button
          mat-fab extended
          class="action-btn like-btn"
          [class.liked]="hasBeenLiked()"
          (click)="likePost($event)"
        >
          <mat-icon>favorite</mat-icon>
          {{likeCount()}}
        </button>
      </div>
    </div>
  </div>
</mat-card>
