ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.name,
.badge {
  --border-radius: .25rem;
  padding: .5rem;
}

.badge {
  color: white;
  background-color: #404f61;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.name {
  background-color: #eeeeee;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
